html{
  background-color: #eeefef;
  font-family: Arial;
  margin-left: 8%;
  margin-right: 8%;
}

#nav{
  width: 100%;
  padding-bottom: 1%;
  font-size: 1em;
  margin: 0px auto;
}

#nav ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#nav li{
  display: inline;
  padding: 2%;
}

#nav a{
  color: #606060;
  text-decoration: none;
  font-weight: bold;
}

#nav a:hover{
  color: #89722a;
  text-decoration: none;
}

#nav img{
  width: 10%;
  height: 10%;
  margin-bottom: -1.25%;
  margin-left: -2%;
}

#blog-headline{
  background-image: url("../imgs/pigeon.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100%;
  text-align: center;
  color: #ffffff;
  padding-top: 10%;
  padding-bottom: 8%;
  margin: 0px;
}

#content-wrap{
  width: 100%;
  background-color: #ffffff;
  padding-top: 1%;
  padding-bottom: 1%;
  margin: 0px;
  display: inline-block;
}

#footer{
  border-top: 4px solid #606060;
  width: 100%;
  padding-bottom: 1%;
  font-size: 1em;
  margin: 0;
}

#footer ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

#footer li{
  display: inline;
  margin-left: -50px;
  padding: 40px;
  font-size: 14px;
}

#footer a{
  color: #606060;
  text-decoration: none;
  font-weight: bold;
}

#footer a:hover{
  color: #12445c;
  text-decoration: none;
}

#footer img{
  width: 135px;
  height: 45px;
  margin-bottom: -15px;
  margin-left: 10px;
}

.current-post{
  width: 60%;
  display: inline-block;
  margin-top: 2%;
  margin-left: 6%;
  margin-right: 4%;
}

.current-post p{
  white-space: pre-line;
}

.current-post img{
  border: .5px solid black;
  max-width: 100%;
  width: 840px;
  height: 300px;
  margin-top: 2%;
}

.post-preview{
  width: 45%;
  display: inline-block;
  background-color: #eeefef;
  margin: 2%;
}

.post-preview p{
  white-space: pre-line;
  margin: 0;
}

.post-preview img{
  border: .5px solid black;
  max-width: 100%;
  width: 520px;
  height: 160px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.single-prev-post{
  padding: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
}

.recent-posts{
  width: 25%;
  height: auto;
  padding: 0;
  margin: 0;
  display: inline-block;
  vertical-align: top;
}

.recent-posts50{
  width: 50%;
  height: auto;
  display: inline-block;
  vertical-align: top;
}

.recent-posts img{
  max-width: 95%;
  width: 290px;
  height: 100px;
  padding: 0;
  margin: 0;
  border: .5px solid black;
}

.recent-posts50 img{
  max-width: 95%;
  width: 290px;
  height: 100px;
  padding: 0;
  margin: 0;
  border: .5px solid black;
}

.single-r-post{
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: #eeefef;
  margin-bottom: 20px;
  font-size: 16px;
}

.single-r-post:hover{
  background-color: #d7d9e1;
}

.single-r-post50{
  width: 45%;
  display: inline-block;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #eeefef;
  font-size: 1em;
  margin-bottom: 10px;
  margin-right: 10px;
}

.single-r-post50:hover{
  background-color: #d7d9e1;
}

.older-posts{
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #eeefef;
  margin-bottom: 2%;
}

.older-posts50{
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #eeefef;
  margin-right: 30px;
  margin-bottom: 2%;
}

.older-posts a{
  padding: 20px;
}

.older-posts50 a{
  padding: 40px;
}

.blog-title span{
  color: #606060;
  font-size: 24px;
  font-weight: bold;
}

.blog-title span1{
  color: #606060;
  font-size: 14px;
  font-weight: normal;
  padding-left: 10px;
}

h1{
  font-size: 24px;
}

h2{
  font-size: 18px;
  font-weight: normal;
  margin-top: -10px;
}

a{
  color: #7f859d;
  text-decoration: none;
}

a:hover{
  color: #606060;
  text-decoration: none;
}

code{
  background-color: #eff2bc;
  padding: 10px;
  font-size: .85em;
  font-family: Courier;
  margin: 5px;
  line-height: 180%;
}

code_id{
  color: #40beee;
}

code_span{
  color: #696868;
}

code_num{
color: #ed0972;
}