html{
  background-color: #eeefef;
  font-family: Arial;
  margin-left: 80px;
  margin-right: 80px;
}

#nav{
  width: 100%;
  background-color: #dbfcfb;
  padding-bottom: 10px;
  font-size: 18px;
  margin: 0px auto;
  border-bottom: 4px solid #606060;
}

#nav ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#nav li{
  display: inline;
  margin-left: -50px;
  padding: 40px;
  font-size: 16px;
}

#nav a{
  color: #158581;
  text-decoration: none;
  font-weight: bold;
}

#nav a:hover{
  color: #12445c;
  text-decoration: none;
}

#nav img{
  width: 100px;
  height: 45px;
  margin-bottom: -15px;
  margin-left: 10px;
}

#headline{
  width: 100%;
  color: #606060;
  margin: 2%;
}

#content-wrap{
  width: 100%;
  background-color: #ffffff;
  margin: 0px;
  display: inline-block;
}

#specialties{
background-color: #eeefef;
width: 94%;
margin: 2%;
padding: 10px;
}

.intro{
  margin: 0;
  padding: 0;
  text-align: center;
  margin-top: -10px;
}

.intro p{
  font-size: 16px;
  font-weight: normal;
  margin-top: -10px;
}

.specialties-list{
  margin: 10px;
  width: 100%;
  vertical-align: top;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}

.spec-single{
  display: inline-block;
  width: 20%;
  padding-left: 20px;
  padding-right: 20px;
}

.spec-single img{
  max-width: 95%;
  width: 240px;
  height: 100px;
  padding: 0;
  margin: 0;
  border: .5px solid black;
}

#3colhome{
  width: 100%;
  background-color: #ffffff;
  margin: 0px;
  display: inline-block;
}

#bio{
background-color: #eeefef;
width: 22%;
margin-left: 2%;
display: inline-block;
margin-bottom: 2%;
}

#bio img{
background-color: #eeefef;
max-width: 92%;
width: 290px;
margin: 10px;
border: .5px solid black;
}

span{
  font-size: 1.25em;
  font-weight: bold;
}

#bio p{
  font-size: .90em;
  margin-top: 0px;
  background-color: #ffffff;
  margin-left: 10px;
  margin-right: 15px;
  padding: 10px;
}

.rec-proj{
  width: 50%;
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  margin-right: 0px;
  margin-top: -15px;
  margin-bottom: 0px;
}

.rec-proj img{
  max-width: 95%;
  width: 290px;
  height: 100px;
  padding: 0;
  margin: 0;
  border: .5px solid black;
}

.single-r-post50{
  width: 45%;
  display: inline-block;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  background-color: #eeefef;
  font-size: 16px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.single-r-post50:hover{
  background-color: #dbfcfb;}

.all-proj{
  text-align: center;
  font-size: 1.25em;
  margin:0;
  padding: 0;
}

.recent-posts{
  width: 22%;
  margin-right: 2%;
  display: inline-block;
  margin-top: -15px;
  vertical-align: top;
  float: right;
}

.recent-posts img{
  max-width: 95%;
  width: 290px;
  height: 100px;
  padding: 0;
  margin: 0;
  border: .5px solid black;
}

.single-r-post{
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
  background-color: #eeefef;
  margin-bottom: 10px;
  font-size: 16px;
}

.single-r-post:hover{
  background-color: #dbfcfb;}

#footer{
  border-top: 4px solid #606060;
  width: 100%;
  background-color: #dbfcfb;
  padding-bottom: 10px;
  font-size: 14px;
  margin: 0;
}

#footer ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

#footer li{
  display: inline;
  margin-left: -50px;
  padding: 40px;
  font-size: 14px;
}

#footer a{
  color: #158581;
  text-decoration: none;
  font-weight: bold;
}

#footer a:hover{
  color: #12445c;
  text-decoration: none;
}

#footer img{
  width: 100px;
  height: 45px;
  margin-bottom: -15px;
  margin-left: 10px
}

h1{
  font-size: 24px;
}

h2{
  font-size: 18px;
  font-weight: normal;
  margin-top: -10px;
}

h3{
  font-size: 18px;}

a{
  color: #158581;
  text-decoration: none;
}

a:hover{
  color: #12445c;
  text-decoration: none;
}